@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Available Cartridge Calibers</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="All7mmRemMagRecipes">7mm Remington Magnum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="All308WinRecipes">308 Winchester</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Index">6.5 Creedmoor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Index">338 Winchester Magnum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Index">30-06 Springfield</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Index">300 Winchester Magnum</a>
        </li>
    </ul>
</div>
